<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iotek.dao.DeptMapper">
    <insert id="insertDept" parameterType="Dept">
        INSERT INTO DEPT(DEPT_ID, DEPT_NAME,DEPT_TIME) VALUES (DEPT_SEQ.nextval,#{dept_name},#{dept_time})
    </insert>
    <select id="selectDept" resultType="com.iotek.model.Dept">
        SELECT * FROM DEPT WHERE DEPT_NAME=#{dept_name}
    </select>
    <select id="selectAll" resultType="com.iotek.model.Dept">
        SELECT * FROM DEPT
    </select>
    <select id="selectID" resultType="com.iotek.model.Dept">
        SELECT * FROM DEPT WHERE DEPT_ID=#{dept_id}
    </select>
</mapper>