<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iotek.dao.InvitedMapper">
    <insert id="insertInvited" parameterType="Invited">
        INSERT INTO INVITED(INV_ID, INV_TIME, INV_SITE, U_ID, INV_STATE, INV_PASS,RES_ID) VALUES (INVITED_SEQ.nextval,
        #{inv_time},#{inv_site},#{u_id},#{inv_state},#{inv_pass},#{res_id})
    </insert>
    <update id="updateState" parameterType="Invited">
        UPDATE INVITED SET INV_STATE=#{inv_state},INV_PASS=#{inv_pass} where INV_ID=#{inv_id}
    </update>
    <select id="selectInvited" resultType="com.iotek.model.Invited">
        SELECT * FROM INVITED WHERE U_ID=#{u_id}
    </select>
    <select id="selectInviteda" resultType="com.iotek.model.Invited">
        SELECT * FROM INVITED
    </select>
</mapper>